[submodule "EthernetSPI2"]
	path = EthernetSPI2
	url = https://github.com/manvisdr/EthernetSPI2
[submodule "EDMICmdLine"]
	path = EDMICmdLine
	url = https://github.com/manvisdr/EDMICmdLine
[submodule "Time"]
	path = Time
	url = https://github.com/PaulStoffregen/Time
[submodule "TimeAlarms"]
	path = TimeAlarms
	url = https://github.com/PaulStoffregen/TimeAlarms
[submodule "SketchLogger"]
	path = SketchLogger
	url = https://github.com/SergiuToporjinschi/SketchLogger
[submodule "SPIFFSLogger"]
	path = SPIFFSLogger
	url = https://github.com/bitmario/SPIFFSLogger
